.card{
    border-radius: 5px;
    color: #ccc;
}

.hpContent{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5%;
}

.card {
    /* Distribute equal width among the cards */
    padding: 20px;
    display: flex;
    border: 1px solid #ccc;
    margin: 10px;
    text-align: center;
    background-color: #343a40;
}


.card-body p{
    margin-top: 20px;
}

#username, #password{
    width: 20%;
    justify-content: center;
}

.hidden{
    display: none;
}

#blogTitle{
    margin-top: 5%;
    margin-bottom: 5%;
}

#blogContent{
    margin-bottom: 5%;
}
#feedCards{
    width: 60%; 
}

#feedDiv{
    display: flex;
    justify-content: center; /* Horizontally center */
    height: 100%; 
    text-align: center;
}

#commentBtn{
    width: 13%;
    font-size: 15px;
}

.comments{
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 2%;
}

#commentSection {
    text-align: center; /* Center align the content within the comment section */
    margin: 0px auto;   /* Adjust the top and bottom margin for spacing and center horizontally */
    width: 300px; /* Adjust the width as per your design */
    word-wrap: break-word;
}

.content{
    padding:5%;
    margin: 5%;
    border: 1px solid #ccc;
}

#hpIntro{
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 30%;
}


.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensure it takes up the full width of the parent container. */
  }

  .card.createBlog {
    width: 60%; /* Adjust this width as needed to control the width of the card. */
  }

  .featuredPost{
    max-width: 50%;
  }