<div class="card" id="signInCard">
  <div class="card-body text-center">
    <h5 class="card-title">Welcome back</h5>
    <div class="form-group text-center">
      <form action="/login" method="post">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control mx-auto" id="username" placeholder="TechFan" name="username" required> 

        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control mx-auto" id="password" placeholder="********" name="password">

        <button type="submit" class="btn btn-primary" id="signInButton">Sign In</button>
      </form>
    </div>
  </div>
  <div class="card-footer text-muted hidden">
  </div>
</div>
